body {
    background-color: black;
    font-family: "Open Sans", sans-serif;
}
#logo {
    height: 3rem;
}
.icons-travel {
    color: white;
    background-color: turquoise;
    padding: 0.3rem;
}
.card-border-radius {
    border-radius: 0;
    border: 0;
}
hr {
    border: 2px solid turquoise;
}
.color-bg {
    background-color: turquoise;
}
#destacados .card {
    font-weight: 300;
}
.btn-turquoise {
    background-color: turquoise;
}
form {
    border-radius: 5px;
}
footer {
    text-align: center;
    background-color: turquoise;
}
